# Project "*** . . .***"

## Overview

The project is focused on developing algorithms to ...

## Objectives

+ Develop an algorithm ..

+ Create a ..


## Scope

+ *Verify and process the data*: the collected data must pass through a processing to eliminate null and duplicated values and future engineering.

+ *Data Analysis*: a deep analysis of the data will generate impactful insights that
identify trendings.

+ *Creation of algorithms*: there will be some recommendation systems such as non personalized, based on user content and collaborative filtering.

+ *Deployment*: this will be using FastAPI.

## Benefits

+ *Increase the user retention*


## Success indicators

+ *Accomplishment of the requirements*: ....

+ *API efficiency*: that the API passes the Postman test.

+ *Accomplishment of the deadline*: ...

## 1. Preprocessing

### Libraries

In [44]:
# mathematical computing
import pandas as pd
import numpy as np

# sklearn
import sklearn as sk

# API
##from fastapi import FastAPI as API
##from routes import router

# visualization
import matplotlib as mpt
import seaborn as sb

# global variables
global df_movies, df_ratings, df_final

### 1.1 Data Cleaning

+ Remove missing values, outliers and inconsistencies

#### Let´s go with the first dataset: "df_movies"

In [2]:
df_movies = pd.read_csv('/Users/alexangelbracho/Desktop/GitHub_projects/Movie Recommender/Movie-Recommender/movies.csv')
df_movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
df_movies.describe

<bound method NDFrame.describe of       movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]>

In [4]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [5]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
def convert_to_set(string):
    list_ = list(string.split("|"))
    set_ = set(list_)
    return set_

In [7]:
df_movies['genres'].values[0]

'Adventure|Animation|Children|Comedy|Fantasy'

In [8]:
# function: preprocessing

def preprocessing(df: pd.DataFrame):
    '''It eliminates the null and duplicated values from the dataframe. Additionally,
    it transforms the columns of object type into string type.'''
    df = df.drop_duplicates()
    df = df.dropna()
    df = df.convert_dtypes()
    df['content'] = df['genres'].str.replace('|',' ')
    #df['genre_set'] = df['genres'].str.replace('|',',')
    #df['timestamp'] = pd.to_datetime(df['timestamp'])

    return df

### 1.2 Future selection (optional)

+ Drop the attributes that provide no useful information for the task.

### 1.3 Future engineering 

+ Create new features or modify existing ones to better capture the underlying patterns.

+ Coding categoriacal features (optional)

### 1.4 Future scaling

+ Standardize or normalize (optional)

### 1.5 Data splitting

+ Split the data into training, validation and test sets if applicable.

In [ ]:
### 1.2 Future selection

## 2. Exploratory Data Analysis (EDA)

+ Study the type of data (categorical, int/float,text, etc..)

+ % of missing and null values

+ Outliers

+ For *supervised learning tasks*, identify the target attributes

+ Visualize the data

+ Study the correlation between attributes (pearson´s coefficient, heat_map, etc)

### 3. Short-List Promising Models

+ Train many quick and dirty models from differents categories (linear, naive Bayes, Random Forests, etc) using standard parameters.

+ Measure and compare their performance. Besides, for each model, use K-fold cross validation and compute the mean and standard deviation of the performance measure of the *N* folds.

+ Analyze the most significant variables for each algorithm.

+ Analyze the types of errors the models make.

+ Have a quick round of feature selection and engineering.

+ Have one or two more quick iterations of the five previous steps.

+ Short-list the top three to five most promising models, preferring models that make differents types of errors.

### 4. Fine-Tune the System

+ Fine-tune the hyperparameters using cross-validation. 

+ If there are penty of hyperparameters, use *grid search*. Otherwise, use *random search*.

+ Try ensemble methods.

+ When you are confident with a model, measure its performance on the test set to estimate the generalization error.

### 5. Present your solution

+ Document what you have done.

+ Make a nice presentation (with beatiful visualizations).

+ Explain why your solution achieves the business objective.

### 6. Deployment

+ Use of API (such as FastAPI, flask, etc)

+ Write monitoring code (Airflow, etc)

+ Retrain your models on fresh data.